* {
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}
.calculator {
    background-color: #000;
    border-radius: 5px;
    width: 100%;
    height: 490px;
    max-width: 260px;
    text-align: center;
    padding: 10px;      
}
.calculator .calculator__menu {
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.calculator .calculator__menu .calculator__menu-1 {
    height: 20px;
    width: 20px;
    background-color: rgb(241, 79, 50);
    border-radius: 3px;
    padding: 1px;
} 
.menu1 {
    text-decoration: none;
    color: #000;
}
.menu2 {
    text-decoration: none;
}
.calculator .calculator__menu .calculator__menu-2 {
   display: flex;  
} 
.calculator .calculator__menu .calculator__menu-2 .calculator__square-equal {
    margin-left: 2px;
}
.calculator .calculator__menu .calculator__menu-2 .calculator__square1 {
    height: 10px;
    width: 10px;
    border: 2px solid #333;
    border-radius: 3px;
}
.calculator .calculator__menu .calculator__menu-2 .calculator__square2 {
    height: 10px;
    width: 10px;
    border: 2px solid #333;
    border-radius: 3px;
    margin-top: 2px;
}
.calculator .calculator__menu .calculator__menu-2 .calculator__square3 {
    height: 10px;
    width: 10px;
    border: 2px solid #333;
    border-radius: 3px; 
}
.calculator .calculator__menu .calculator__menu-2 .calculator__menu-equal {
    color: #333;
    font-size: 13px;
    margin-bottom: 5px;
} 
.calculator .calculator__menu .calculator__menu-3 {
    
 }   
.calculator .calculator__display {
    background-color: black;
    height: 150px;
    padding: 5px;
}
input {
    margin-top: 55px;
    background-color: black;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    margin-bottom: 1px;
    text-align: right;
    color: #fff;
    font-size: 25px;
}
.calculator .calculator__btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: none;
    grid-gap: 10px;
} button {
    padding: 10px;
    font-size: 25px;
    border: none;
    background-color: #000;
    cursor: pointer;
    color: #fff;
}
.calculator .calculator__btn .calculator__zero {
    background-color: #000;
    grid-column: 3/1;
}
.calculator .calculator__btn .calculator__equal {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(241, 79, 50); 
}
.calculator .calculator__btn .calculator__orange {
   color: rgb(241, 79, 50);
}
.calculator .calculator__btn .calculator__orange-1 {
    color: rgb(241, 79, 50);
    font-size: 17px;
 }